APP_NAME=Nómina
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_LOCALE=es
APP_TIMEZONE=America/Tegucigalpa

DB_CONNECTION=pgsql
DB_HOST=lerd-postgres
DB_PORT=5432
DB_DATABASE=nomina
DB_USERNAME=nomina
DB_PASSWORD=secret

QUEUE_CONNECTION=database
DB_QUEUE_RETRY_AFTER=360
